
  <title>Better Than Congress?</title>
    <div class="navbar">
      <a class="navbar-brand" href="http://www.nytimes.com/2013/10/06/us/a-federal-budget-crisis-months-in-the-planning.html?_r=0" target="_blank"> > Better-than-Congress</a>
    </div>

    <!--http://www.npr.org/blogs/thetwo-way/2013/10/09/231015154/americans-prefer-hemorrhoids-and-cockroaches-to-congress-->


    <div class="poll">
        <center>
        <h2>Forget Reid, Boehner, & Bachmann...<br>
          who is better than Congress?</h2>
        <p> (Click one) </p>
        
        <div class="image_container">
          <div id="congress">
            <img data-photo="<%= @random_congress.id %>" src=<%= @random_congress_url %>>
            <p>  <%= @random_congress.votes.count %> Votes</p>
          </div>

          <div id="personage" >
            <img data-photo="<%= @random_personage.id %>" src=<%= @random_personage_url %>> <br>
            <p>  <%= @random_personage.votes.count %> Votes </p>      
          </div>


        </div>
    </div>   
    
<center>
  <p><br></p>
    <div class="button">
      <input type="submit" value="Next to top Congress! >>" id="shuffle-button">

    </div>

</center>
      


      <!-- FOOTER -->
      <center><footer>
        
        <p>&copy; 2013 Fire Congress, Inc. &middot; <a href="http://www.nsa.gov/">Privacy</a> &middot; <a href="/flag">Terms</a>
        </p>
      </footer></center>

  </body>
</html>
