
  <title>Better Than Congress?</title>
    <div class="navbar">
      <a class="navbar-brand" href="http://www.nytimes.com/2013/10/06/us/a-federal-budget-crisis-months-in-the-planning.html?_r=0" target="_blank"> > Better-than-Congress</a>
    </div>

    <!--http://www.npr.org/blogs/thetwo-way/2013/10/09/231015154/americans-prefer-hemorrhoids-and-cockroaches-to-congress-->


    <div class="poll">
        <center>
        <h2>Forget Reid, Boehner, & Bachmann...<br>
          who is better than Congress?</h2>
        <p> (Click one) </p>

        <div class="image_container">


              <div id="congress">
                <img data-photo="<%= @random_congress.id %>" data-url="<%= @random_congress_url %>" data-votes="<%= @random_congress.vote_tally %>" src=<%= @random_congress_url %>>

                    <div id="button">
                      <form action="/vote_congress/<%=@random_congress.id %>" method="POST">
                        <input type="submit" value="vote"></input>
                      </form>
                        <%= @random_congress.vote_tally %> Votes</p>
                    </div>
              </div>



              <div id="personage" >
               <img data-photo="<%= @random_personage.id %>" data-url="<%= @random_personage_url %>" data-votes="<%= @random_personage.vote_tally %>" src=<%= @random_personage_url %>><br>
                  <div id="button">
                    <form action="/vote_personage/<%=@random_personage.id %>" method="POST">
                      <input type="submit" value="vote"></input>
                    </form>
                      <span id="vote_tally"><%= @random_personage.vote_tally %> Votes</span>
                  </div>
              </div>



        </div>
    </div>

<center>

<!--     <div class="button">
        <p><br></p>
      <input type="submit" value="Next to top Congress! >>" id="shuffle-button">
    </div>
 -->
</center>



      <!-- FOOTER -->
      <footer>

        <p><a href="http://drunkdialcongress.org/">&copy; 2013 Fire Congress, Inc. &middot;</a>  <a href="http://www.nsa.gov/">Privacy</a> &middot; <a href="/flag">Terms</a>
        </p>
      </footer>

  </body>
</html>
